<div class="container colors text-center">
    <div class="row">
    <div class="col" style="background-color: var(--bg-component-color);"></div>
    <div class="col" style="background-color: var(--bg-component-divider);"></div>
    <div class="col" style="background-color: var(--bg-color);"></div>
    <div class="col" style="background-color: var(--bg-divider);"></div>
    <div class="col" style="background-color: var(--button-base);"></div>
    <div class="col" style="background-color: var(--button-divider);"></div>
    <div class="col" style="background-color: var(--button-border);"></div>
    <div class="col" style="background-color: var(--button-disabled);"></div>
    <div class="col" style="background-color: var(--button-disabled-border);"></div>
    <div class="col" style="background-color: var(--button-divider);"></div>
    <div class="col" style="background-color: var(--button-focus);"></div>
    <div class="col" style="background-color: var(--button-hover);"></div>
    <div class="col" style="background-color: var(--button-on);"></div>
    <div class="col" style="background-color: var(--button-on-disabled);"></div>
    <div class="col" style="background-color: var(--button-pressed);"></div>
    <div class="col" style="background-color: var(--button-selected);"></div>
    <div class="col" style="background-color: var(--button-selected-text);"></div>
    <div class="col" style="background-color: var(--button-focus-color);"></div>
    <div class="col" style="background-color: var(--on-bg-color);"></div>
    <div class="col" style="background-color: var(--on-bg-component-color);"></div>
    <div class="w-100"></div>
    <div class="col" style="background-color: var(--on-primary-container-color);"></div>
    <div class="col" style="background-color: var(--on-primary-component-color);"></div>
    <div class="col" style="background-color: var(--on-secondary-container-color);"></div>
    <div class="col" style="background-color: var(--on-secondary-component-color);"></div>
    <div class="col" style="background-color: var(--accent-text-color);"></div>
    <div class="col" style="background-color: var(--success-text-color);"></div>
    <div class="col" style="background-color: var(--warning-text-color);"></div>
    <div class="col" style="background-color: var(--destructive-text-color);"></div>
    <div class="col" style="background-color: var(--on-accent-color);"></div>
    <div class="col" style="background-color: var(--on-success-color);"></div>
    <div class="col" style="background-color: var(--on-warning-color);"></div>
    <div class="col" style="background-color: var(--on-destructive-color);"></div>
    <div class="col" style="background-color: var(--primary-container-color);"></div>
    <div class="col" style="background-color: var(--primary-container-divider);"></div>
    <div class="col" style="background-color: var(--primary-component-color);"></div>
    <div class="col" style="background-color: var(--primary-component-divider);"></div>
    <div class="col" style="background-color: var(--secondary-component-color);"></div>
    <div class="col" style="background-color: var(--secondary-container-color);"></div>
    <div class="col" style="background-color: var(--secondary-container-divider);"></div>
    <div class="col" style="background-color: var(--window-hint);"></div>
    <div class="w-100"></div>
    <div class="col" style="background-color: var(--accent-color);"></div>
    <div class="col" style="background-color: var(--accent-bg-color);"></div>
    <div class="col" style="background-color: var(--accent-fg-color);"></div>
    <div class="col" style="background-color: var(--destructive-color);"></div>
    <div class="col" style="background-color: var(--destructive-bg-color);"></div>
    <div class="col" style="background-color: var(--destructive-fg-color);"></div>
    <div class="col" style="background-color: var(--warning-color);"></div>
    <div class="col" style="background-color: var(--warning-bg-color);"></div>
    <div class="col" style="background-color: var(--warning-fg-color);"></div>
    <div class="col" style="background-color: var(--success-color);"></div>
    <div class="col" style="background-color: var(--success-bg-color);"></div>
    <div class="col" style="background-color: var(--success-fg-color);"></div>
    <div class="col" style="background-color: var(--icon-button-color);"></div>
    <div class="col" style="background-color: var(--icon-button-bg-color);"></div>
    <div class="col" style="background-color: var(--icon-button-fg-color);"></div>
    <div class="col" style="background-color: var(--link-button-color);"></div>
    <div class="col" style="background-color: var(--link-button-bg-color);"></div>
    <div class="col" style="background-color: var(--link-button-fg-color);"></div>
    <div class="col" style="background-color: var(--success-button-color);"></div>
    <div class="col" style="background-color: var(--success-button-bg-color);"></div>
    <div class="w-100"></div>
    <div class="col" style="background-color: var(--success-button-fg-color);"></div>
    <div class="col" style="background-color: var(--text-button-color);"></div>
    <div class="col" style="background-color: var(--text-button-bg-color);"></div>
    <div class="col" style="background-color: var(--text-button-fg-color);"></div>
    <div class="col" style="background-color: var(--warning-button-color);"></div>
    <div class="col" style="background-color: var(--warning-button-bg-color);"></div>
    <div class="col" style="background-color: var(--warning-button-fg-color);"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="w-100"></div>
</div>
    </div>
