{% extends 'base.html' %}
{% block content %}
<form hx-get="{% url 'themes:list' %}"
        hx-target="#themes-list"
        hx-swap="innerHTML"
        hx-push-url="true"
        hx-debug="true"
        hx-trigger="search, submit, keydown changed delay:300ms from:.search, change from:.sort, change, input delay:300ms from:.color-input"
    >
    <fieldset class="filter-form">
        <input  type="search" id="search" placeholder="Search" name="search" class="search"
                value="{{ request.GET.search }}"
        >
        <select name="sort" class="sort">
            <option value="popular"
                    {% if request.GET.sort == 'popular' %}selected{% endif %}
            >Popular</option>
            <option value="new"
                {% if request.GET.sort == 'new' %}selected{% endif %}
            >New</option>
            <option value="name"
                {% if request.GET.sort == 'name' %}selected{% endif %}
            >Name</option>
        </select>
        <div class="color" role="group">
            <input type="color" id="color" name="color" class="color-input" value="{{ request.GET.color }}">
            <button class="outline">X</button>
        </div>
    </fieldset>
</form>
<div id="themes-list">
{% include 'themes/theme_list_partial.html' with object_list=object_list page_obj=page_obj %}
</div>
{% endblock %}
{% block extra_javascript %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('.color button').addEventListener('click', function() {
            document.querySelector('.color input').value = '#000000';
        });
    });
</script>
{% endblock %}
