{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Community themes for the COSMIC™ desktop by System76.">
        <meta property="og:description" content="Community themes for the COSMIC™ desktop by System76.">
        <meta property="og:image" content="{% static 'img/logo.webp' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/android-icon-192x192.png' %}">
        <title>COSMIC™ Themes</title>
        <link rel="stylesheet" href="{% static 'pico/pico.slate.min.css' %}">
        <link rel="stylesheet" href="{% static 'pico/pico.colors.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script defer src="{% static 'alpine/cdn.min.js' %}"></script>
    </head>
    <body>
        <div class="container">
          <header>
              <nav>
                  <ul>
                    <li>
                        <a class="navbar-brand" href="/">
                            <img src="{% static 'img/logo-small.webp' %}" />COSMIC™ Themes
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'themes:create' %}" class="contrast">Submit a theme</a>
                    </li>
                  </ul>
                  <ul>
                    <li>
                        {% url 'themes:list' as themes_list_url %}
                        {% if request.path == themes_list_url %}
                            <form hx-get="{% url 'themes:list' %}"
                                hx-target="#themes-list"
                                hx-swap="innerHTML"
                                hx-trigger="submit, keydown changed delay:300ms from:input, change from:select, search from:input"
                            >
                                <fieldset class="grid">
                                    <input  type="search" id="search" placeholder="Search" name="search">
                                    <select name="sort">
                                        <option value="popular" selected>Popular</option>
                                        <option value="new">New</option>
                                        <option value="name">Name</option>
                                    </select>
                                </fieldset>
                            </form>
                        {% endif %}
                    </li>
                  </ul>
              </nav>
          </header>
          <main>
              {% for message in messages %}
              <article role="alert">
                  {{ message|safe }}
              </article>
              {% endfor %}
              <article class="pico-background-orange" role="alert" id="dark-reader-warning" style="display: none;">
                  <strong>Dark Reader</strong> users: The themes on this site will not look correct with Dark Reader turned on!
              </article>
              {% block content %}{% endblock %}
          </main>
          <hr/>
          <footer>
              Found a bug? Missing feature? View this site on <a href="https://github.com/Fingel/cosmic-themes-org-py/">Github</a>. Created by <a href="https://www.pedaldrivenprogramming.com">Austin Riba</a> &middot; &copy; 2024
          </footer>
        </div>
        <script src="{% static 'htmx/htmx.min.js' %}"></script>
        <script>
        var isDarkReaderEnabled =
          "querySelector" in document &&
          !!document.querySelector("meta[name=darkreader]");

        if (isDarkReaderEnabled)
          document.querySelector("#dark-reader-warning").classList.remove("d-none");
        </script>
        {% block extra_javascript %}{% endblock %}
    </body>
</html>
